@mixin styleText($fs, $fw, $color){
    font: {
        size: $fs ;
        weight: $fw ;
    }
    color: $color ;
}

@mixin styleBtnCarousel(){
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.03rem;
}